<section>
  <h1>Hours &amp; Contact Info</h1>
  <p>Stuff will go here</p>
</section>

<section>
  <h1>Menu</h1>
  <p>Menu items go here</p>
</section>

<section>
  <h1>Our Story</h1>
  <p>The story goes here</p>
</section>